
<launch>
    <arg name="car_name" default="car" />
    
    <arg name="record_path" default="/project/recordings"/>
    <arg name="trial_name" default=""/>

    <rosparam command="dump" file="$(arg record_path)/params.yaml" />

    <group ns="$(arg car_name)">
        <node pkg="rosbag" type="record" name="debug_recorder"
            args="record -O $(arg record_path)/data.bag
            car_pose
            experiments/finished
            experiments/language_bias
            mux/ackermann_cmd_mux/active
            mux/ackermann_cmd_mux/input/navigation
            rhcontroller/goal
            rhcontroller/markers
            rhcontroller/markers_zero_cost
            rhcontroller/traj_chosen
            scan
            /tf
            /tf_static" />
    </group>

</launch>
